<div class="form-container">
    <h2>Login</h2>
    <form 
        [formGroup]="loginForm"
        #formDir="ngForm" 
        (ngSubmit)="onSubmit()"
        [class]="classes.form"
    >
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="email" 
                [class]="classes.email" 
                id="email" 
                placeholder="Insira seu email"
                formControlName="email" 
                name="email"
                required
            >
            <div class="invalid-feedback">
                <span *ngIf="email.invalid && formDir.submitted">
                    <span *ngIf="email.errors?.['required']">
                        Preencha este campo
                    </span>
                    <span *ngIf="email.errors?.['email']">
                        Informe um email válido
                    </span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input 
                type="password" 
                [class]="classes.password" 
                id="password" 
                placeholder="Insira sua senha"
                formControlName="password" 
                name="password"
                required
            >
            <div class="invalid-feedback">
                <span *ngIf="password.invalid && formDir.submitted">
                    <span *ngIf="password.errors?.['required']">
                        Preencha este campo
                    </span>
                </span>
            </div>
        </div>
        <button class="btn btn-primary align-right">Login</button>
    </form>
    
    <nav class="text-center">
        <span>
            Não tem uma conta? 
            <a routerLink="/signup">Cadastre-se</a>
        </span>
    </nav>
</div>